@{
    ViewData["Title"] = "About Page";
}

<link href="../css/Site1.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

    <div class="background-container">
        <div class="bg-1"></div>
        <div class="bg-2"></div>

    </div>
    <div class="about-container">

        <div class="image-container">
            <img src="~/css/Images/about.PNG">
        </div>

        <div class="text-container">
            <h1>About us</h1>
            <p>Gold Mine Guide is a website that connect miners with enterprises to coordinate mining operations and arrange travel plans. <br> In addition, the employees of the administration will be able to work from their homes because they will no longer be forced to travel to offices in order to communicate with the staff or the administrative members of their organization. </p>
            <a href="">Read More</a>
        </div>

    </div>
</div>
