@{
    ViewData["Title"] = "Gallery Page";
}

<link href="../css/Gallery.css" rel="stylesheet" type="text/css" />

<main class="flex">
    <div class="menuContainer flex">
        <div class="travelContent flex">
            <h1>Gallery</h1>
            <h3>Gold Library</h3>
        </div>

        <div class="sunsets flex">
            <div class="sunsetContent flex">
                <h3>Haul truck</h3>
                <p>Gold mine, with Haul truck driving up road, located in Cobar NSW AustraliaOpen Cut Gold mine, located in Cobar NSW Australia</p>
            </div>
            <img src="~/css/Images/Trips.jpg">
        </div>

        <div class="beach flex">
            <img src="~/css/Images/Gallery.jpg">
            <div class="beachContent flex">
                <h3>Pure gold </h3>
                <p>The pure gold ore found in the mine on a stone floor, and there is some remaining sand and small pebbles at the bottom of the pan and debris floating on top of the water</p>
            </div>
        </div>
        <div class="hotel flex">
            <div class="hotelContent flex">
                <h3>Gold Miners</h3>
                <p>Region del Maule, Chile - April 02, 2016: Miners inside the access tunnel of an underground gold mine.</p>
            </div>
            <img src="~/css/Images/gallery1.jpg">
        </div>
        <div class="hotel flex">
            <div class="hotelContent flex">
                <h3>Underground</h3>
                <p>An ancient corridor deep underground in a gold mine (Micica, Slovenia).</p>
            </div>
            <img src="~/css/Images/Trips2.jpg">
        </div>
    </div>
</main>