@{
    ViewData["Title"] = "Home Page";
}

<link href="../css/Home.css" rel="stylesheet" type="text/css" />

<main class="flex">
    <div class="Sec1">
        <h1>Welcome to Mine Gold Guide</h1>

        <br />

        <h4>Overview of the site</h4>
        <br />
        <p>The global situation with COVID-19 is having an adverse effect on the mining business, which is particularly vulnerable because to the high volume of people who must be present both at the mines itself and at nearby tourist attractions.<br> Therefore, the group has chosen to build a website in the form of a compact interactive and dynamic web application that will connect miners with enterprises to coordinate mining operations and arrange travel plans. In addition, the employees of the administration will be able to work from their homes because they will no longer be forced to travel to offices in order to communicate with the staff or the administrative members of their organization.</p>
    </div>
    <div class="Sec2">
        <img src="~/css/Images/Trips.jpg">
    </div>
        
</main>
<br />
<button href="https://localhost:44342/Identity/Account/Login" class="button" style="vertical-align:middle"><span>Get Started</span></button>