@{
    ViewData["Title"] = "Privacy Policy";
}



<link href="../css/privacy.css" rel="stylesheet" type="text/css" />

<main class="flex">
    <div class="Sec1">
        <h1>Privacy Policye</h1>

        <br />

        <h4>Manager &  Staff</h4>
        <br />
        <p>This web applcation is only for managers and staff that are assigned by The general manager of the Gold Mine Guide organization</p>
    </div>
    <div class="Sec2">
        <img src="~/css/Images/Gallery.jpg">
    </div>

</main>
