@{
    ViewData["Title"] = "Services Page";
}

<link href="../css/Services.css" rel="stylesheet" type="text/css" />


<div class="services">
    <h1>Our Services</h1>
    <div class="cen">
        <div class="service">
            <i class="fas fa-anchor"></i>
            <h2>Create a Gold mine info</h2>
            <p>The ability to create a database of the type or method od the gold mine throgh all the world.</p>
        </div>

        <div class="service">
            <i class="fab fa-android"></i>
            <h2>Edit a Gold mine info</h2>
            <p>The ability to delete or edit a new Gold mine info from the database.</p>
        </div>

        <div class="service">
            <i class="fab fa-angellist"></i>
            <h2>Receiving Messages through email from the staff</h2>
            <p>The ability to send a Confirmation completion of the staff daily works.</p>
        </div>

        <div class="service">
            <i class="fas fa-apple-alt"></i>
            <h2>View Staff tasks details by the Manager</h2>
            <p>The manager has the ability to check the staff works.</p>
        </div>
    </div>
</div>